ul {
    background: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: orange;
    display: block;
    text-align: center;
    padding: 15px 18px;
    
}

li {
    float: left;
    list-style-type: none;
    
}

li a:hover {
    background: #222;
}

.righty {
    float: right;
    
}

.active {
    background-color: crimson;
}

